{% block title %}Connexion
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<style>
		body {
			background-image: url('{{ asset('images/fond_ecran2.jpg') }}');
			background-size: cover; /* Assure que l'image de fond couvre toute la page */
			background-position: center; /* Centre l'image */
			background-repeat: no-repeat; /* Empêche la répétition de l'image */

		}
		.container {

			padding: 2rem;
			border-radius: 10px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		}
	</style>
{% endblock %}

{% block body %}
	<div class="container d-flex justify-content-center align-items-center min-vh-100">
		<div class="card p-4" style="max-width: 400px; width: 100%;">
			<h3 class="text-center mb-4">Connectez Vous</h3>
			<form method="post">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="alert alert-info mb-3">
						Vous êtes connecté(e) comme
						{{ app.user.userIdentifier }},
						<a href="{{ path('app_logout') }}">Me déconnecter</a>
					</div>
				{% endif %}

				<div class="form-group">
					<label for="inputEmail">Email</label>
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
				</div>

				<div class="form-group">
					<label for="inputPassword">Password</label>
					<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
				</div>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<div class="form-check mb-3">
					<input type="checkbox" class="form-check-input" name="_remember_me" id="rememberMe">
					<label class="form-check-label" for="rememberMe">Remember me</label>
				</div>

				<button class="btn btn-lg btn-primary btn-block" type="submit">
					Me connecter
				</button>

				<div class="text-center mt-3">
					<p>Vous n'avez pas encore de compte ?
						<a href="{{ path('app_register') }}">Inscription</a>
					</p>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
